@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Roboto:ital,wght@1,100;1,400;1,700&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Roboto';
	font-size: 18px;
	margin: 0px;
	background-color: rgba(245, 194, 173, 0.2);
	color: #39425B;

}

h1,h2,h3{
	font-family: Lato;
	font-weight: bold;
}
a{
	text-decoration: none;
}